.para{
    position:absolute;
    line-height: 2rem;
    font-size:1.2rem;
    opacity:0;
    animation-name: effet;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.elapsed-time .title{
    position:absolute;
    top:-3rem;
    justify-self:flex-start;
    align-self: flex-start;
    opacity:0;
    animation-name: effet;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}


@keyframes effet{
    0% {
        opacity:0;
    }
    2% {    
        opacity:1;
    }
    9%{
        opacity:0.5;
    }
    10%{
        opacity:0;  
    }
    100%{
        opacity:0;  
    }

}
.two{
animation-delay: 3s;
}
.three{
animation-delay: 6s;
}
.four{
animation-delay: 9s;
}
.five{
animation-delay: 12s;
}
.six{
animation-delay: 15s;
}
.seven{
animation-delay: 18s;
}
.eight{
animation-delay: 21s;
}
.nine{
animation-delay: 24s;
}
.ten{
animation-delay: 27s;
}

.progress{
height:0.3rem;
width:100%;
}
.progress-bar{
background-color:var(--title-color);
animation-name: fill;
animation-duration: 30s;
animation-iteration-count: infinite;
animation-direction: normal;
animation-timing-function: linear;
animation-fill-mode: forwards;        
}

@keyframes fill{
0%{
    width:0;
}
92%{
    width:100%
}
100%{
    width:100%
}

}
.elapsed-time{  
margin-top:2rem;
display:flex;
flex-direction:column;
width:100%;
height:10rem;
justify-content: center;
align-items: center;
}

.progress{
position:relative;
top:-0.5rem;
background-color: black;
border:0.5px dotted grey;
width:10.5rem;
}

.stamp{
width:80%;
height:100%;
margin:auto;
border-radius:0.5rem;
}