:root{
    --index-title-color:#17FCFF;
    --bg-color:black;
    --main-color:orange; /*#FF00EE;*/
    --title-color:#00FF80;
    --menu-color:#AB00FF;
    --deco-color:#2000FF;
    --header-height:4rem;
    --anchor-offset:-5rem;
    user-select: none;
}

@font-face {
    font-family: "flood";
    src: url("/font-floodstd.otf");
  }

@font-face {
    font-family: "stencil";
    src: url("/font-stencil.TTF");
}

@font-face {
    font-family: "nautigal";
    src: url("/font-TheNautigal-Regular.ttf");
}

.ff-flood{
    font-family:"flood";
}

.ff-stencil{
    font-family:"stencil";
}

.ff-nautigal{
    font-family:"nautigal";
}
